/* General Navbar Styling */
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  transition: background-color 0.3s ease;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: black; /* Updated logo color */
  text-decoration: none;
  margin-left: 5vmin;
  transition: ease 0.3s;
}
.navbar-logo:hover {
  color: #ffc107; /* Change the color to #ffc107 on hover */
  transform: scale(1.1); /* Slightly enlarge the logo on hover */
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-links {
  display: flex;
  list-style: none;
  margin-right: 1rem;
}

.navbar-links li {
  margin-right: 1rem;
}

.navbar-links a {
  text-decoration: none;
  color: black; /* Updated link color */
  font-size: 1.1rem;
  position: relative;
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: #004085;
}

.navbar-links a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ffc107; /* Updated hover underline color */
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.navbar-links a:hover::after {
  transform: scaleX(1);
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar-right .form-check {
  margin-right: 1rem;
}

.navbar-right .form-check-label {
  color: inherit;
}

.search-form {
  display: flex;
  margin-right: 1rem;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .navbar-links {
    display: none;
  }

  .search-form {
    width: 100%;
  }

  .navbar-right {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .navbar-logo {
    font-size: 1.2rem;
  }

  .navbar-container {
    flex-direction: column;
  }

  .navbar-right {
    justify-content: center;
  }
}

/* Dark Mode and Light Mode Styling */
.dark-mode {
  background-color: #202428;
  color: white;
  border-bottom: 2px solid white;
  transition: ease 0.3s;
}

.dark-mode .navbar-links a {
  color: white; /* Change links color to white in dark mode */
}
.dark-mode .navbar-logo {
  color: white !important; /* Force the logo color to be white in dark mode */
}
.dark-mode .navbar-logo:hover{
  color : #ffc107 !important;
}
.light-mode {
  background-color: #f5f5f5;
  color: black;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
