* {
    box-sizing: border-box;
  }
  
  .search-box {
    width: fit-content;
    height: fit-content;
    position: relative;
    margin-top: -3vmin;
    margin-right: 4vmin;
  }
  
  .input-search {
    height: 40px;
    width: 40px;
    border-style: none;
    padding: 8px;
    font-size: 14px;
    letter-spacing: 1px;
    outline: none;
    border-radius: 20px;
    transition: all 0.5s ease-in-out;
    background-color: #0d6efd; /* Primary theme color */
    padding-right: 35px;
    color: #fff;
  }
  
  .input-search::placeholder {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 100;
  }
  
  .btn-search {
    width: 40px;
    height: 40px;
    border-style: none;
    font-size: 16px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color: #ffffff;
    background-color: transparent;
  }
  
  /* Add the expanded class for animation when focused */
  .input-search.expanded {
    width: 200px; /* Reduced width for smaller size */
    border-radius: 20px;
    background-color: #0d6efd;
    border-bottom: 2px solid #ffffff;
    transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
  }
  
  .input-search:focus {
    width: 200px;
    border-radius: 20px;
    background-color: #0d6efd;
    border-bottom: 2px solid #ffffff;
    transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
  }
  
  .search-box:focus-within {
    border: none;
  }
  